{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}

<div class="row col-md-12">
	<div class="col-md-2 card">
		<button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#modal-add-task">
		  Add task
		</button>

		<button type="button" class="btn btn-success mt-3 mb-3" data-toggle="modal" data-target="#modal-add-category">
		  Add category
		</button>

		<div id="category-panel">
			{% for category in  categories %}
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="cat-{{ category.id }}">
					{# <input class="form-check-input" type="radio" id="cat-{{ category.id }}"> #}
					<label class="form-check-label" for="cat-{{ category.id }}">
						{{ category }} 
					</label>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>

    <div class="col-md-10 task-panel" id="task-panel">
        {% for task in tasks %}
        	<div class="card bg-light text-dark">
				<div class="card-body">{{ task.name }}</div>
			</div>
        {% endfor %}
    </div>
</div>



{% include 'include/modal_window.html' %}
{% include 'include/modal_category.html' %}
{% endblock %}