{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}

<div class="row col-md-12">
	<!-- Category -->
	<div class="col-md-2 card pb-3">
		<button id="add-task" type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#modal-add-task">
		  Add task
		</button>

		<!-- <button id="add-company" type="button" class="btn btn-success mt-3 mb-3" data-toggle="modal" data-target="#modal-add-category">
		  Add category
		</button> -->

		<hr>
		<form id='category-form' action='.' data-url='{% url "task_manager:category_add" %}' method="post">
			<div class="">
			<input type="text" class="form-control" name="name" id="category-name" placeholder="Add category"
			 required>
          	</div>
        </form>
		<hr>

		<div id="category-panel">
			<div class="nav nav-category flex-column nav-pills">
				{% for category in  categories %}
					<a class="btn btn-sm btn-outline-secondary mt-1 mb-1"
					id="cat-{{ category.id }}" href="#">{{ category }} </a>
				{% endfor %}
			</div>
		</div>
	</div>

	
	<!-- Task -->
	<div class="col-md-8">
		<div class="task-header alert alert-success" role="alert" style="display: none;"></div>
	    <div class="task-panel" id="task-panel">
	        {% for task in tasks %}
	        	<div class="card bg-light text-dark mb-3">
	        		<div class="card-header bg-transparent">{{ task.name }}</div>
					<ul class="list-group list-group-flush">
					    <li class="list-group-item">{{ task.description }}</li>
					    <li class="list-group-item">Author: {{ task.author }}</li>
					    <li class="list-group-item">Performers: {{ task.get_performer }}</li>
					</ul>
					<div class="card-footer">
						<span>Deadline: {{ task.deadline|date:"Y-m-d" }}</span>
						<a href="#" id="{{ task.id }}"  class="card-link float-right">Delete</a>
					</div>
				</div>
	        {% endfor %}
	    </div>
	</div>
	


    <!-- Mark -->
    <!-- <div class="col-md-2 card p-1">
        <form id='mark-form' action='.' data-url='{% url "task_manager:mark_add" %}' method="post">
			<div class="">
			<input type="text" class="form-control" name="name" id="mark-name" placeholder="Add mark" required>
          	</div>
        </form>
		<div id="mark-panel" class="mt-3 mr-2 mb-3 ml-2">
			{% for mark in  marks %}
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="mark-{{ mark.id }}">
					<label class="form-check-label" for="mark-{{ mark.id }}">
						{{ mark }} 
					</label>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div> -->


    <div class="col-md-2 card pb-3">
        <form class="mt-2" id='mark-form' action='.' data-url='{% url "task_manager:mark_add" %}' method="post">
            <div class="">
            <input type="text" class="form-control" name="name" id="mark-name" placeholder="Add mark"
             required>
            </div>
        </form>
        <hr>

        <div id="mark-panel">
            <div class="nav nav-mark flex-column nav-pills">
                {% for mark in  marks %}
                    <a class="btn btn-sm btn-outline-secondary mt-1 mb-1" 
                    id="mark-{{ mark.id }}" href="#">{{ mark }} </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{# {% include 'include/modal_category.html' %} #}
{% include 'include/modal_window.html' %}
{% include 'include/modal_error.html' %}
{# {% include 'include/modal_mark.html' %} #}
{% endblock %}